#author      @Keywos

hostname=sub.store
^https?:\/\/sub\.store\/((download)|api\/(preview|sync|(utils\/node-info))) url script-analyze-echo-response https://raw.githubusercontent.com/Toperlock/Quantumult/main/Sub-Store/JS/sub-store-1_nolog.js
^https?:\/\/sub\.store url script-analyze-echo-response https://raw.githubusercontent.com/Toperlock/Quantumult/main/Sub-Store/JS/sub-store-0_nolog.js
